{% extends 'base.html' %}

{% block title %} Главная {% endblock %}


{% block content %}

    <h1>Вологодские словечки</h1>

    <p> В северных диалектах есть много прикольных слов. Причем их необязательно употребляют только бабушки - даже в моей речи встречаются слова, непонятные
        моим московским коллегам. Именно о таких словах моя анкета. </p>

    <p> Впрочем, это совсем не исследование. Это скорее тест вида "Какая ты принцесса Дисней?". Все вопросы составлены с опорой на словарь "Вологодское словечко".</p>

    <p> В конце можно будет узнать правильные ответы! </p>

    <a href="/questions" class="btn btn-info btn-lg" role="button" aria-pressed="true">Пройти опрос</a>
{% endblock %}
