{% extends 'base.html' %}

{% block title %} Анкета {% endblock %}

{% block content %}
    <h1>Анкета</h1>


    <form action="/results">


    <div>
        <h2> Как-нибудь представьтесь </h2>
        <input type="text" name="person_name" value="">
    </div>
    <br>

    <div>
        <h2> Имеете ли Вы какую-то связь с Вологодской областью (или Костромской или Архангельской)? Возможно, Вы там жили, часто бывали или бываете, или там жили Ваши родители. </h2>
        <input type="radio" class="larger" name="from_vologda" value="yes"> да <br>
        <input type="radio" class="larger" name="from_vologda" value="no"> нет<br>
    </div>
    <br>

    <div>
        <h2> Отметьте все синонимы слова <i>беспонятный</i> </h2>
        <input type="checkbox" class="larger" name="besponiatny" value="besproky"> беспрокий<br>
        <input type="checkbox" class="larger" name="besponiatny" value="bestolocny"> бестолочный<br>
        <input type="checkbox" class="larger" name="besponiatny" value="bescuvny"> бесчувный<br>
        <input type="checkbox" class="larger" name="besponiatny" value="bescetny"> бесчётный<br>
        <input type="checkbox" class="larger" name="besponiatny" value="besputy"> беспутый<br>
        <input type="checkbox" class="larger" name="besponiatny" value="besstuzy"> бесстужий<br>
        <input type="checkbox" class="larger" name="besponiatny" value="bespetry"> беспётрый<br>

    </div>
    <br>

    <div>
        <h2> <i>Бутуситься</i> и <i>кукситься</i> </h2>
        <input type="radio" class="larger" name="butusitsa" value="same"> одно и то же<br>
        <input type="radio" class="larger" name="butusitsa" value="not same"> не одно и то же<br>
    </div>
    <br>

    <div>
        <h2>"Дивья тебе!"</h2>
        <input type="radio" class="larger" name="divya" value="wish"> это пожелание<br>
        <input type="radio" class="larger" name="divya" value="mark"> это оценка<br>
        <input type="radio" class="larger" name="divya" value="giving"> это про передачу дивьи<br>
    </div>
    <br>

    <div>
        <h2> Что такое <i>отворотка</i>?</h2>
        <input type="checkbox" class="larger" name="otvorotka" value="otvorot"> то же, что и отворот<br>
        <input type="checkbox" class="larger" ="otvorotka" value="povorot"> то же, что и поворот<br>
        <input type="checkbox" class="larger" name="otvorotka" value="podvorot"> то же, что и подворот<br>
        <input type="checkbox" class="larger" name="otvorotka" value="vorot"> то же, что и ворот<br>
        <input type="checkbox" class="larger" name="otvorotka" value="vorota"> то же, что и ворота<br>
        <input type="checkbox" class="larger" name="otvorotka" value="otvertka"> то же, что и отвёртка<br>
    </div>
    <br>

    <div>
        <h2>Можно ли <i>отемнать</i> в июне в Вологодской области?</h2>
        <input type="radio" class="larger" name="otemnat" value="no"> никак нельзя<br>
        <input type="radio" class="larger" name="otemnat" value="maybe"> можно, если постараться<br>
        <input type="radio" class="larger" name="otemnat" value="yes"> легко можно<br>
    </div>
    <br>

    <div>
        <h2>Как можно назвать репейник?</h2>
        <input type="checkbox" class="larger" name="repeinik" value="vdovec"> вдовец<br>
        <input type="checkbox" class="larger" name="repeinik" value="sisebar"> шишебар<br>
        <input type="checkbox" class="larger" name="repeinik" value="hvostanec"> хвостанец<br>
        <input type="checkbox" class="larger" name="repeinik" value="tukovic"> туковик<br>
    </div>
    <br>

    <div>
        <h2>Какой части речи слово <i>отселя</i>?</h2>
        <input type="radio" class="larger" name="otsela" value="noun"> существительное<br>
        <input type="radio" class="larger" name="otsela" value="adverb"> наречие<br>
        <input type="radio" class="larger" name="otsela" value="gerund"> деепричастие<br>
    </div>
    <br>

    <div>
        <h2>Что значит <i>охоботить</i>?</h2>
        <input type="radio" class="larger" name="ohobotit" value="sjest"> съесть с жадностью<br>
        <input type="radio" class="larger" name="ohobotit" value="oselomit"> ошеломить<br>

    </div>
    <br>

    <div>
        <h2><i>Поскрёбышем</i> нельзя назвать...</h2>
        <input type="radio" class="larger" name="poskrebys" value="pirog"> пирог<br>
        <input type="radio" class="larger" name="poskrebys" value="rebenok"> ребёнка<br>
        <input type="radio" class="larger" name="poskrebys" value="sinicka"> синичку<br>
    </div>
    <br>

    <div>
        <h2>Что такое <i>шаньга</i>?</h2>
        <input type="checkbox" class="larger" name="sanga" value="oladja"> оладья<br>
        <input type="checkbox" class="larger" name="sanga" value="blin"> блин<br>
        <input type="checkbox" class="larger" name="sanga" value="socen"> сочень<br>
        <input type="checkbox" class="larger" name="sanga" value="pirogi"> пирог<br>
        <input type="checkbox" class="larger" name="sanga" value="ryba"> рыба<br>
        <input type="checkbox" class="larger" name="sanga" value="chasy"> часть настенных часов<br>
    </div>
    <br>

    <div>
        <h2><i>Уркать</i> может...</h2>
        <input type="checkbox" class="larger" name="urkat" value="koska"> кошка<br>
        <input type="checkbox" class="larger" name="urkat" value="vorona"> ворона<br>
        <input type="checkbox" class="larger" name="urkat" value="frog"> лягушка<br>
        <input type="checkbox" class="larger" name="urkat" value="sova"> сова<br>
        <input type="checkbox" class="larger" name="urkat" value="koza"> коза<br>
    </div>
    <br>

        <button type="submit" class="btn btn-info btn-lg">Отправить</button>

    </form>

{% endblock %}
